<section data-ng-controller="DepositController">
	<div class="form-main">
		<h2>Next Step</h2>
		<p><a href="#more-info">Learn more about deposits</a></p>
		<a href="#!/lease-yes" class="btn btn-primary">Yes</a>
		<a href="#!/lease-no" class="btn btn-primary">No</a>
	</div>

	<div class="more-info" name="more-info">
		<h3>What is a deposit?</h3>
		<p>When a landlord agrees to reserve rental property, the
			landlord will probably ask the tenant for a “deposit.” This
			transaction obligates the tenant to occupy the property on
			the agreed date, and obligates the landlord to have the
			property fit for occupancy on the agreed date. If the tenant
			fails to occupy the property on the agreed date, then the
			tenant could lose the deposit and may be liable for
			damages. If the landlord fails to fulfill his obligation, the
			landlord will have to refund the deposit and may be liable
			for damages.
		</p>

		<h3>Security/Damage Deposit</h3>
		<p>A security or damage deposit may be required by the
		landlord to satisfy nonpayment of rent or any other default,
		including physical damage to the property. The landlord
		may keep the deposit for such defaults. However, normal
		wear and tear is not deductible. If the deposit is not
		enough to cover all damages, then the tenant may be held
		responsible for additional damages. </p>

		<h3>Inspection and Checklist</h3>
		<p>Before putting down a deposit on the property, the tenant
		should inspect the property for any visible defects, damage
		or missing items. When the tenant signs an agreement to
		lease the property, the landlord and the tenant should
		agree on what problems are to be corrected before the
		tenant moves in. </p>
	</div>


</section>