<section data-ng-controller="HomeController">
	<div class="text-center">
		<h1 text-center>What are you dealing with?</h1>

			<div class="row">
				<div class="col-md-4"><a href="#!/housing" class="btn btn-default one"> <span class="glyphicon glyphicon-home" aria-hidden="true"></span> Rental Housing</a></div>
				<div class="col-md-4"><a href="#" class="btn btn-default two">Representing yourself?</a></div>
				<div class="col-md-4"><a href="#" class="btn btn-default three">Consumer rights</a></div>
			</div>

		
	</div>
	
</section>