<section data-ng-controller="HomeController">
	<div class="jumbotron text-center">
		<h1 text-center>What are you dealing with?</h1>
			<div class="row">
				<div class="col-md-4"><a href="#!/housing" class="btn btn-default">Housing</a></div>
				<div class="col-md-4"><a href="#" class="btn btn-default">Employment</a></div>
				<div class="col-md-4"><a href="#" class="btn btn-default">Disability</a></div>
			</div>
			<div class="row">
				<div class="col-md-4"><a href="#" class="btn btn-default">Government benefits</a></div>
				<div class="col-md-4"><a href="#" class="btn btn-default">Representing yourself?</a></div>
				<div class="col-md-4"><a href="#" class="btn btn-default">Consumer issues</a></div>
			</div>
	</div>
	
</section>